      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        width:100%;
        margin: 0;
        padding: 0;
        transition: all 1s;

      }
      .Map
      {
        width: 260px;
        height: 260px;
        float: right;
        margin: 20px;
      }
      .Invisible
      {
        opacity: 0;
        transition: all 200ms;
        display: none;
      }
      #Top
      {
        width:100%;
        height: 150px;
        position: fixed;
        background-color: grey;
        z-index: 2;
      }
      #Profile
      {
        position: absolute;
        right: 25px;
        top: 10px;
        z-index: 1;
        width: 120px;
        height: 120px;
        border-radius: 100%;
      }
      #ProfilePic
      {
        width: 90px;
        padding-top: 20px;
        mask-image: radial-gradient(circle, black 50px, rgba(0, 0, 0, 0.0) 50%);
      }

      #Blurb
      {
        font-size: 2em;
        margin-left:10px;
        text-align: left;

      }
      .Volunteer_Page
      {
        padding-top: 200px;
        transition: all 200ms;
      }
      .Volunteer
      {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        border-radius: 25px;
        transition: all 1ms;
        border-style: solid;
        font-family: "Lato", sans-serif;
        z-index: 3;
      }
      .Green
      {
        background-color: green;
      }
      
      .MapVol
      {
        height:15px;
      }

      h1
      {
        text-align: left;
        font-size: 3em;
        margin-left:15px;
      }
      /* 
      * Always set the map height explicitly to define the size of the div element
      * that contains the map. 
      */
      #map {
        height: 100%;

      }
      #map1 {
        height: 100%;
      }
      #map2 {
        height: 100%;
      }

      .scroll-container {
        position: absolute;
        top: 200px;
        background-color: #333;
        overflow:scroll;
        white-space: nowrap;
        padding: 0;
        width: 100%;
        scroll-snap-type: x mandatory;
      }
      
      .scroll-container img {
        padding: 10px;
        scroll-snap-align: center;
      }

      #VolunteerHeaderText
      {
        margin-top:30px;
        font-size: 4em;
        font-family: "Lato", sans-serif;
        margin-left:25px;
      }

      #nav
      {
        width:100%;
        height: 150px;
        position: fixed;
        background-color: grey;
        z-index: 2;
        bottom:0;
      }
      
      #HomePage
      {
        position: absolute;
        left: 100px;
        top: 10px;
        z-index: 1;
        width: 120px;
        height: 120px;
        background-color: inherit;
        border-width: 0;
      }
      #HomePic
      {
        width: 90px;
        padding-top: 20px;
      }

      #VolunteeringPage
      {
        position: absolute;
        left: 425px;
        top: 10px;
        z-index: 1;
        width: 120px;
        height: 120px;
        background-color: inherit;
        border-width: 0;
        
      }
      #VolunteerPic
      {
        width: 90px;
        padding-top: 20px;
      }

      #StatsPage
      {
        position: absolute;
        right: 100px;
        top: 10px;
        z-index: 1;
        width: 120px;
        height: 120px;
        background-color: inherit;
        border-width: 0;
      }
      #StatsPic
      {
        width: 90px;
        padding-top: 20px;
      }